body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: hotpink;
  color: rgb(31, 7, 29);
  padding: 20px;
  text-align: center;
}
nav {
  background-color: #723660;
  padding: 10px;
  text-align: center;
}

nav a {
  color: lightpink;
  text-decoration: none;
  margin: 0 15px;
}
nav a:hover {
  text-decoration: underline;
}

main {
  padding: 20px;
}

#sobre {
  background-color: salmon;
}

.bg-color {
  background-color: lightpink;
  display: flex;
  align-items: center;
  gap: 20px;
}

section {
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #0a0a0a;
  border-radius: 15px;
}

footer {
  background-color: orchid;
  color: azure;
  text-align: center;
  padding: 15px;
}
.imagens-filmes {
  display: flex;
  gap: 20px;
  justify-content: center;
}
section img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  margin: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.imagens-habilidades {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.imagens-habilidades img {
  width: 250px;
  border-radius: 15px;
}
.bg-color {
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}
.bg-color:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}
.bg-color {
  border-radius: 12px;
  padding: 15px;
}
