body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: hotpink;
  color: rgb(31, 7, 29);
  padding: 20px;
  text-align: center;
}
nav {
  background-color: #723660;
  padding: 10px;
  text-align: center;
}

nav a {
  color: lightpink;
  text-decoration: none;
  margin: 0 15px;
}
nav a:hover {
  text-decoration: underline;
}

main {
  padding: 20px;
}

#sobre {
  background-color: salmon;
}

.bg-color {
  background-color: lightpink;
}

section {
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #0a0a0a;
  border-radius: 15px;
}

footer {
  background-color: orchid;
  color: azure;
  text-align: center;
  padding: 15px;
}
